@using PreTrip.Session

@{
    ViewBag.Title = "AlterarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioBeforePartialView.cshtml")

@using (Html.BeginForm("AlterarUsuario", "Usuario", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons" style="font-size: 16px" datatoggle="tooltip" title="Nome">face</i>
                </div>
                @Html.EditorFor(x => PreTripSession.Usuario.Pessoa.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome", datatoggle = "tooltip", title = "Nome" } })
            </div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons" style="font-size: 16px" datatoggle="tooltip" title="Email">contact_mail</i>
                </div>
                @Html.EditorFor(x => PreTripSession.Usuario.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", datatoggle = "tooltip", title = "Email" } })
            </div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons" style="font-size: 16px" datatoggle="tooltip" title="Telefone">local_phone</i>
                </div>
                @Html.EditorFor(x => PreTripSession.Usuario.Pessoa.Telefone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefone", datatoggle = "tooltip", title = "Telefone" } })
            </div>

            <hr />

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons" style="font-size: 16px" datatoggle="tooltip" title="Senha">lock</i>
                </div>
                @Html.PasswordFor(x => PreTripSession.Usuario.Senha, new { @class = "form-control", placeholder = "Senha", datatoggle = "tooltip", title = "Senha" })
            </div>
        </div>

        <div class="pull-right">
            <input type="hidden" name="oldSenha" value="@PreTripSession.Usuario.Senha" />
            <button type="submit" class="btn btn-warning pull-right">Confirmar</button>
        </div>
    </div>
}

@Html.Partial("~/Views/Shared/Usuario/_UsuarioAfterPartialView.cshtml")