@Html.Partial("~/Views/Shared/Usuario/_UsuarioBeforePartialView.cshtml")

<div class="pull-right">
    @Html.ActionLink("Cadastrar", "CadastrarEmpresa", "Usuario", new { @class = "btn btn-success" })
</div>

<h3 style="text-align:center;">Minhas Empresas Cadastradas</h3>

<table class="table table-hover" style="width:50%;margin:0 auto;text-align:center;">
    <thead>
        <tr>
            <th style="text-align:center;">CNPJ</th>
            <th style="text-align:center;">Razao Social</th>
            <th style="text-align:center;">Nome Fantasia</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in (IEnumerable<PreTrip.Model.Classes.Empresa>)ViewBag.Empresas)
        {
            <tr>
                <td>@empresa.Cnpj</td>
                <td>@empresa.RazaoSocial</td>
                <td>@empresa.NomeFantasia</td>                
            </tr>
        }
    </tbody>
</table>

@Html.Partial("~/Views/Shared/Usuario/_UsuarioAfterPartialView.cshtml")
