@model PreTrip.ViewModel.UsuariosViewModel
@using PreTrip.Session
<style>
    .pedidosCarrinhoDiv {
        width: 650px;
        height: 200px;
        background: linear-gradient(to right, #1e5799 0%,#2989d8 0%,#f2f2f2 100%);
        box-shadow: 2px 2px 2px 2px gray;
        margin-left: 25px;
    }

    .texto {
        margin-left: 200px;
        margin-top: -100px;
    }

    #finalizarCompra {
        margin-left: 500px;
        margin-top: 19px;
        position: absolute;
    }

    #cancelarCompra {
        margin-left: 332px;
        margin-top: 20px;
        position: absolute;
    }

        #finalizarCompra button, #cancelarCompra button {
            border-radius: 19px;
        }

    #precoViagem {
        margin-left: 521px;
        margin-top: -108px;
        position: absolute;
        font-size: 20px;
        color: green;
        text-shadow: 2px 2px 2px gray;
    }
</style>
<div class="container">
    <h2>Meu Carrinho</h2>
    @*Se não contém nenhum item no carrinho*@
    @if (!Model.Carrinho.Pedidos.Any())
    {
        <p>
            Você precisa adicionar itens no carrinho! @Html.ActionLink("Clique aqui", "Index", "Viagem") para buscar viagens!
        </p>
    }
    else
    {
        foreach (var pedido in Model.Carrinho.Pedidos)
        {
            <div class="row viagem-box">
                <a href="/Viagem/Visualizar/@pedido.Viagem.Id">
                    <div class="col-md-3" style="background: url(@pedido.Viagem.UrlImagem) center; background-size: cover; height: 7em;">
                    </div>
                </a>

                <div class="viagem-body col-md-8">
                    <a href="/Viagem/Visualizar/@pedido.Viagem.Id">
                        <div class="col-md-4">
                            <h3>@pedido.Viagem.Titulo</h3>
                            @*<p>@pedido.Viagem.Origem.Cidade - @pedido.Viagem.Destino.Cidade</p>*@
                        </div>
                    </a>
                    <div class="col-md-6">
                        Qtd: @pedido.Quantidade<br />
                    </div>
                    <div class="col-md-2" style="font-size: 2rem; vertical-align:middle;">
                        R$ @pedido.Viagem.PrecoPassagem
                    </div>
                </div>
            </div>
        }

        <hr />

            <div class="pull-right">
                @if (PreTripSession.Usuario != null)
                {
                    if (PreTripSession.Usuario.Pessoa.ContaBancaria.Saldo >= Model.Carrinho.PrecoFinal)
                    {
                        <a href="@Url.Action("ConfirmarCompra", "Usuario")" class="btn btn-success">Confirmar Compra</a>
                    }
                    else
                    {
                        <span>Você não possui saldo suficiente para realizar a compra! @Html.ActionLink("Adicione saldo", "", "") .</span>
                    }
                }
                else
                {
                    <span>@Html.ActionLink("Logue-se", "Index", "Home") para confirmar a compra!</span>
                }
            </div>

            <div class="clearfix"></div>

            <hr />

            <div class="pull-right">
                <div class="col-md-4">
                    @using (Html.BeginForm("AddCupom", "Usuario", FormMethod.Post))
                    {
                        <div>
                            Cupom: <br />
                            @Html.EditorFor(x => x.Carrinho.CupomDesconto)
                            <button type="submit" class="btn btn-warning" style="margin-top: 1em">Descontar</button>
                        </div>
                    }
                </div>

                <div class="col-md-8" style="font-size: 2rem; text-align: right">
                    Total: R$ @Model.Carrinho.PrecoTotal
                    <br />
                    @{
                        var desconto = Model.Carrinho.PrecoDesconto != 0 ? Model.Carrinho.PrecoDesconto.ToString() : "NENHUM";
                    }
                    <span style="color: #b40b0b">
                        Desconto: @desconto
                    </span>
                    <br />
                    <span style="color: #099c19">
                        Preço Final: R$ @Model.Carrinho.PrecoFinal
                    </span>
                    <br />
                    @if (PreTripSession.Usuario != null)
                    {
                        <span>
                            Saldo: R$ @PreTripSession.Usuario.Pessoa.ContaBancaria.Saldo
                        </span>
                    
                        <br />

                        <span style="color: #099c19">
                            Saldo final: R$ @(PreTripSession.Usuario.Pessoa.ContaBancaria.Saldo - Model.Carrinho.PrecoFinal)
                        </span>
                    }
                    
                </div>
                <div class="clearfix"></div>
            </div>
                        }
</div>
