@model PreTrip.ViewModel.CompraViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nota fiscal de compra</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        div.bordered {
            border: 1px solid #000;
        }

        table {
            width: 100%;
        }

        td {
            padding: 5px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section>
        <table border="1">
            <tr>
                <td colspan="2"><br /><br /><br /></td>
                <td rowspan="2" style="text-align:center;" class="bold">NF-e<br>Nº 000001<br>Série 1</td>
            </tr>
            <tr>
                <td>Data de recebimento<br /><br /></td>
                <td>Identificação e assinatura do recebedor<br /><br /></td>
            </tr>
        </table>
        <hr style="border-top: 2px dashed #000" />
        <table border="1">
            <tr>
                <td rowSpan="3"> COLOCAR A IMAGEM DA LOGO AQUI</td>
                <td rowSpan="3" style="text-align: center"> <span class="bold">DANFE</span><br />Documento Auxiliar da Nota Fiscal </td>
                <td> Controle de Fisco <br /> <br /><br /><br /></td>
            </tr>
            <tr>
                <td>CHAVE DE ACESSO<br /><br /></td>
            </tr>
            <tr>
                <td>
                    Consulta de Autenticidade no portal nacional da NF-e<br>
                    www.nfe.fazenda.gov.br/portal<br>
                    ou no site da Sefaz autorizada
                </td>
            </tr>
        </table>
        <br>
        <table border="1">
            <tr>
                <td colspan="2">
                    <span class="bold">Natureza da Operação</span><br>Venda
                </td>
                <td class="bold">
                    Número de protocolo de autorização de uso da NF-e<br /><br />
                </td>
            </tr>
            <tr>
                <td class="bold">Inscrição Estadual<br /><br /></td>
                <td class="bold">Inscr.est.do subs<br /><br /></td>
                <td class="bold">CNPJ<br /><br /></td>
            </tr>
        </table>
        <br>
        <span class="bold">Destinatário/Remetente</span>
        <table border="1">
            <tr>
                <td>
                    <span class="bold">Nome/Razão Social</span><br>
                    @Model.Pedidos.FirstOrDefault().Pessoa.Nome
                </td>
                <td>
                    <span class="bold">CNPJ/CPF</span><br>
                    @Model.Pedidos.FirstOrDefault().Pessoa.Cpf
                </td>
                <td>
                    <span class="bold">Inscrição Estadual</span><br /><br />
                </td>
                <td>
                    <span class="bold">Data emissão</span><br>
                    @DateTime.Now.ToShortDateString()
                </td>
            </tr>
            <tr>
                <td class="bold">
                    Endereço<br><br>
                </td>
                <td class="bold">
                    Bairro<br><br>
                </td>
                <td class="bold">
                    CEP<br><br>
                </td>
                <td>
                    <span class="bold">Data Saída</span><br>
                    @DateTime.Now.ToShortDateString()
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bold">Município</span>
                    <br>
                    @Model.Pedidos.FirstOrDefault().Viagem.Origem.Cidade
                </td>
                <td>
                    <span class="bold">Fone/Fax</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">UF</span>
                    <br>
                    @Model.Pedidos.FirstOrDefault().Viagem.Origem.Estado
                </td>
                <td>
                    <span class="bold">Hora saída</span>
                    <br>
                    @DateTime.Now.ToLongTimeString()
                </td>
            </tr>
        </table>
        <br>
        <span class="bold">Faturas</span>
        <table border="1">
            <tr>
                <td>Número</td>
                <td>Vencimento</td>
                <td>Valor</td>
                <td>Número</td>
                <td>Vencimento</td>
                <td>Valor</td>
                <td>Número</td>
                <td>Vencimento</td>
                <td>Valor</td>
            </tr>
            <tr>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
            </tr>
        </table>
        <br>
        <span class="bold">Cálculo do imposto</span>
        <table border="1">
            <tr>
                <td>
                    <span class="bold">Base de cálculo do ICMS</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Valor do ICMS</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Base de cálculo do ICMS Subst</span>
                    <br><br>
                </td>
                <td>
                    <span class="bold">Valor do ICMS Subst</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Valor total dos produtos</span>
                    <br>
                    R$ @Model.PrecoCompra
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bold">Valor do frete</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Valor do seguro</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Desconto</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Outras despesas acessórias</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Valor do IPI</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Valor total da nota</span>
                    <br><br>
                </td>
            </tr>
        </table>
        <br>
        <span class="bold">Transportador/Volumes transportados</span>
        <table border="1">
            <tr>
                <td>
                    <span class="bold">Nome</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Frete por conta</span>
                    <br>
                    0-Emitente 1-Destinatário<br>
                    2-Terceiros 9-Sem Frete
                </td>
                <td>
                    <span class="bold">Código ANTT</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Placa do veículo</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Uf</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">CNPJ/CPF</span>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td colSpan="2">
                    <span class="bold">Endereço</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Município</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Uf</span>
                    <br>
                    <br>
                </td>
                <td colSpan="2">
                    <span class="bold">Inscrição Estadual</span>
                    <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bold">Quantidade</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Espécie</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Marca</span>
                    <br><br>
                </td>
                <td>
                    <span class="bold">Numeração</span>
                    <br><br>
                </td>
                <td>
                    <span class="bold">Peso bruto</span>
                    <br>
                    <br>
                </td>
                <td>
                    <span class="bold">Peso líquido</span>
                    <br>
                    <br>
                </td>
            </tr>
        </table>
        <br>
        <span class="bold">Itens da nota fiscal</span>
        <table border="1">
            <tr>
                <td class="bold">Código</td>
                <td class="bold">Descrição do produto/serviço</td>
                <td class="bold">Qtde</td>
                <td class="bold">Preço Un</td>
                <td class="bold">Preço Total</td>
            </tr>
            <tr>
                @if (Model.Pedidos.Any())
                {
                    foreach (var pedido in Model.Pedidos)
                    {
                        <td>@pedido.Id</td>
                        <td>@pedido.Viagem.Descricao</td>
                        <td>@pedido.Quantidade</td>
                        <td>@pedido.Viagem.PrecoPassagem</td>
                        <td>@pedido.PrecoFinal</td>
                    }
                }
            </tr>
        </table>
        <br>
        <span class="bold">Dados adicionais</span>
        
        <table border="1">
            <tr>
                <td class="bold">Observações<br /><br /></td>
                <td class="bold">Reservado ao fisco<br /><br /></td>
            </tr>
        </table>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
