@model IEnumerable<PreTrip.Services.ControleFinanceiro.RelatorioFinanceiro>

<div class="container" id="print-relatorio">
    <table class="table table-striped" style="margin:0 auto;text-align:center;">
        <thead>
            <tr>
                <th style="text-align:center;">Descricao</th>
                <th style="text-align:center;">Quantidade</th>
                <th style="text-align:center;">Preço Unico</th>
                <th style="text-align:center;">Valor Total</th>
                <th style="text-align:center;">Saldo</th>
            </tr>
        </thead>
        <tbody>
            @{
                var saldo = 0.0;

                foreach (var relatorio in Model)
                {
                    saldo = relatorio.Venda ? saldo + relatorio.GetValorTotalVendido() : saldo - relatorio.GetValorTotalVendido();
                    var classe = relatorio.Venda ? "success" : "danger";
                    var valorTotal = !relatorio.Venda ? "- " + relatorio.GetValorTotalVendido().ToString("C") : relatorio.GetValorTotalVendido().ToString("C");
                    var saldoPedido = saldo < 0 ? "- " + saldo.ToString("C") : saldo.ToString("C");
                    <tr>
                        <td>@relatorio.Descricao</td>
                        <td>@relatorio.Quantidade</td>
                        <td>@relatorio.Preco.ToString("C")</td>
                        <td>@valorTotal</td>
                        <td class="@classe">@saldoPedido</td>
                    </tr>
                }
            }

            <tr>
                <th colspan="3">Saldo final</th>
                @{ var saldoFinal = saldo < 0 ? "- " + saldo.ToString("C") : saldo.ToString("C"); }
                <td>@saldoFinal</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    window.print();
</script>