
@{
    ViewBag.Title = "VisualizarEmpresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/Usuario/_UsuarioBeforePartialView.cshtml");



    
<table class="table table-hover" style="width:50%;margin:0 auto;">
            
        <tr> 
        <tr>
            <th colspan="4" style="text-align:center;">Minhas Empresas Cadastradas</th>            
        </tr>
        <th>CNPJ</th>
        <th>Razao Social</th>
        <th>Nome Fantasia</th>
        <th>Ações</th>
    </tr>
    @foreach (var empresa in (IEnumerable<PreTrip.Model.Classes.Empresa>)ViewBag.Empresas)
    {
        <tr>
            <td>@empresa.Cnpj</td>
            <td>@empresa.RazaoSocial</td>
            <td>@empresa.NomeFantasia</td>
            <td>
                <a title="Adicionar Endereços">
                    <i style="font-size: 3rem;" class="material-icons pull-left">note_add</i>
                </a>
            </td>
        </tr>
    }            
</table>
<h2>VisualizarEmpresas</h2>
@Html.Partial("~/Views/Shared/Usuario/_UsuarioAfterPartialView.cshtml");
