
@Html.Partial("~/Views/Shared/Administrativo/_AdministrativoBefore.cshtml");

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Últimos usuários</div>
                @*<div class="panel-body">
                    <p>
                        Texto adicional se necessário
                    </p>
                </div>*@

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>Usuário</th>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                    @foreach(var usuario in (IEnumerable<PreTrip.Model.Classes.Usuario>)ViewBag.Usuarios)
                    {
                        <tr>
                            <td>@usuario.Login</td>
                            <td>@usuario.Pessoa.Nome</td>
                            <td>@usuario.Email</td>
                        </tr>
                    }
                </table>
            </div>

@Html.Partial("~/Views/Shared/Administrativo/_AdministrativoAfter.cshtml");