@model PreTrip.ViewModel.ViagensViewModel

<div class="row" style="background-size: cover; background: url(@Model.Viagem.UrlImagem) center; min-height: 23em;">    
</div>

<div class="row">
    <div class="col-md-10 wrapcenter" style="padding: 2em;">

        <div class="col-md-8">
            <h3>@Model.Viagem.Titulo</h3>
            <hr />
            <p>
                @Model.Viagem.Descricao
            </p>
        </div>

        <div class="col-md-4" style="border-left: 1px solid #808080">
            <div>
                <div class="standard-infos">
                    <span>
                        <i class="material-icons">event_seat</i>
                        @Model.Viagem.QuantidadeLugaresDisponiveis
                    </span>
                    <span>
                        R$ @Model.Viagem.PrecoPassagem
                    </span>
                </div>
                <div>
                    @{ 
                        var avaliacaoMedia = new PreTrip.Services.Viagens.ViagensService().GetAvaliacaoMedia(Model.Viagem.Avaliacoes);
                    }
                    <span style="vertical-align: middle">
                        <i class="material-icons" style="font-size: 8rem; color: @avaliacaoMedia.Cor">
                            @avaliacaoMedia.Icon
                        </i>
                        @avaliacaoMedia.TextoResultado
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>